*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #333;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

main {
  padding: 30px;
  text-align: center;
}

.logo {
  width: 160px;
  margin-top: 20px;
}

form {
  background: white;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  background: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.flash {
  padding: 10px;
  margin: 10px auto;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
}

.flash.success {
  background: #d4ffd4;
  color: green;
}

.flash.error {
  background: #ffd4d4;
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
